<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParaBank Test Suite">


    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="ParaBank Automation Tests">
        <classes>

            <class name="tests.LoginTest"/>

            <class name="tests.RegisterTest"/>

            <class name="tests.LogoutTest"/>

            <class name="tests.AccountTest"/>

            <class name="tests.TransferTest"/>

            <class name="tests.TransactionTest"/>

            <class name="tests.FormValidationTest"/>
        </classes>
    </test>
</suite>